.fillBtn {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background: white;
    border-radius: 9999px;
    font-size: 21px;
    overflow: hidden;
    transition: var(--transition-1);
}
.fillBtn:hover {
    transform: scale(1.1);
}
.fillBtn span {
    position: relative;
    z-index: 10;
}

.fillBtn:hover div {
    transform: translateY(0);
    background: var(--color-green-1);
}

.fillTransition {
    position: absolute;
    inset: 0;
    transition: var(--transition-1);
    transform: translateY(100%);
}
