/*------------------------------------*\
  #display-blog
\*------------------------------------*/
/**
 * Comment
 */
.authorContainer,
.readmore {
    margin-top: 1.5rem;
}
.blogTitle,
.blogImageContainer {
    margin-top: 1rem;
}
/* dangerousSetHTML */
.blogContent a {
    color: var(--color-pink-3);
}
.blogContent p {
    line-height: 1.9rem;
}
.blogContent * {
    word-wrap: break-word;
}

/* end dangerousSETHTML */

.blogSection {
    max-width: 748px;
    padding-right: 1rem;
}
.blog {
    margin-bottom: 3rem;
    padding: 0.25rem 0;
}

.blogCategory {
    font-size: 13px;
}
.blogTitle {
    text-transform: capitalize;
    font-size: 2.2rem;
}
.authorContainer {
    font-size: 15px;
    margin-bottom: 1rem;
}
.blogAuthor {
    margin-left: 0.25rem;
}
.blogImageExists {
    width: auto;
    height: auto;
}
.blogNoImage {
    width: 100%;
    max-width: 748px;
    height: 400px;
}

.blogReadmore {
    letter-spacing: -0.025em;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.footer {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    padding: 0.5rem 0;
}
.footerSocialLinks span:not(:first-child) {
    margin-left: 0.5rem;
}
.footerCommentsName {
    font-size: 16px;
    font-family: bodoni serif;
    margin-right: 0.25rem;
}
.footerComments {
    margin-left: 0.25rem;
    font-size: 24px;
    font-family: "Prata", serif;
}

.upperLine,
.bottomLine {
    border-bottom: 1px solid var(--color-pink-3);
    width: 100%;
}
.upperLine {
    margin-bottom: -2.5rem;
    margin-top: 3.5rem;
}

/*------------------------------------*\
     #END-display-blog
   \*------------------------------------*/

/* blog card  */

.blogCard {
    background: #fff;
    width: 100%;
    max-width: 240px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;
    font-size: 14px;
    text-align: left;
    color: var(--color-black-2);
    overflow: hidden;
}

/* .related .blogCard {
    width: 31.7333333333%;
    max-width: 350px;
} */

.blogCard__img {
    object-fit: cover;
    width: 100%;
    height: 175px;
    transition: var(--transition-2);
}

.blogCard__body {
    padding: 1.25rem;
    padding-bottom: 0;
    word-break: break-all;
    position: relative;
}
.blogCard__title {
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: var(--transition-2);
}
.blogCard__preview {
    color: var(--color-black-1);
    font-size: 14.5px;
    line-height: 1.9;
    background: #fff;
    z-index: 100;
    position: relative;
    transition: var(--transition-2);
}

.blogCard__footerContainer {
    position: absolute;
    top: 70px;
    width: 82%;
}
.blogCard__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogCard__date {
    text-transform: uppercase;
    color: var(--color-black-1);
    letter-spacing: 0.1em;
}
.blogCard__comments {
    display: flex;
    align-items: center;
    font-size: 17px;
    color: var(--color-pink-2);
}

.blogCard:hover .blogCard__img {
    opacity: 0.8;
}
.blogCard:hover .blogCard__title,
.blogCard:hover .blogCard__footer {
    color: var(--color-pink-2);
}
.blogCard:hover .blogCard__preview {
    transform: translateY(100px);
}
/* blogs in grid */

.blogsInGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-column-gap: 2rem; */
    margin-bottom: 2rem;
}

/* comments */
.comments {
    background: #fff;
    padding: 1.25rem;
    color: var(--color-black-1);
    font-size: 16px;
    margin-bottom: 25px;
}
.comments__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comments__title {
    font-size: 18px;
    letter-spacing: 1.44px;
}
.comments__title span {
    color: var(--color-pink-2);
    font-size: 22px;
}

.comments__form {
    padding: 2.5rem 0;
    font-size: 17px;
}
.comments__form__inputLabel {
    font-weight: 700;
    margin-bottom: 0.75rem;
    margin-top: 1.75rem;
    display: block;
    color: var(--color-black-1);
    letter-spacing: 1.3px;
}
.comments__form textarea,
.comments__form input {
    background: #fbf9f4;
}
.comments__form__notify {
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    flex-direction: row-reverse;
    color: var(--color-black-2);
    font-size: 11px;
    letter-spacing: 0.53px;
    text-transform: uppercase;
    opacity: 0.75;
}
.comments__form__checkbox {
    height: 25px;
    width: 25px;
}

.comments__btnContainer {
    margin-top: 30px;
}

.comment__container {
    margin-top: 40px;
    padding: 0 0 20px;
    word-wrap: break-word;
    border-bottom: 1px solid var(--color-gray-3);
}
.comment__container a {
    color: #0070f3;
    text-decoration: none;
}

.comment__name {
    color: var(--color-black-2);
    opacity: 0.85;
    font-size: 14.5px;
    text-transform: uppercase;
    font-weight: 700;
}

.comment__body {
    padding: 28px 0;
    line-height: 26px;
}

.comment__footer {
    letter-spacing: 1.3px;
    font-size: 14px;
}

.comment__reply {
    display: inline-block;
    font-size: 13px;
}

/* end comments */
